.BodyList {
  padding: 5px;
  padding-top: 10px;
}
.BodyList .item {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  margin-bottom: 10px;
  box-shadow: 2px 2px 4px rgba(0,0,0,.2);
  position: relative;
  transition: .3s;
}
.BodyList .item:active {
  transform: scale(.9);
  background-color: #eee;
}
/*
.BodyList .item .img {
  height: 20px;
  background-color: #ddd;
  background-image: linear-gradient(90deg, #00a0ff, );
}*/
.BodyList .item h3 {
  margin: 0;
}

.BodyList .item .name {
  font-size: 22px;
}
.BodyList .item .name::before {
  content: '';
  position: absolute;
  width: 5px;
  height: 100%;
  top: 0; left: 0;
  background-color: #009900;
}
.BodyList .item:nth-child(5n+1) .name::before{
  background-color: #0091ff;
}
.BodyList .item:nth-child(5n+2) .name::before{
  background-color: #ff6e0d;
}
.BodyList .item:nth-child(5n+3) .name::before{
  background-color: #c052ff;
}
.BodyList .item:nth-child(5n+5) .name::before{
  background-color: #ff00b7;
}

.BodyList .item .price  {
  border-radius: 30px;
  padding: 5px 10px;
  color: white;
  font-size: 20px;
  display: inline-block;
  background-color: #009900;
  margin-left: 10px;
  flex-shrink: 0;
}
.BodyList .item:nth-child(5n+1) .price {
  background-color: #0091ff;
}
.BodyList .item:nth-child(5n+2) .price {
  background-color: #ff6e0d;
}
.BodyList .item:nth-child(5n+3) .price {
  background-color: #c052ff;
}
.BodyList .item:nth-child(5n+5) .price {
  background-color: #ff00b7;
}