.EmoList {
  padding: 5px;
  padding-top: 10px;
}
.EmoList .item {
  background-color: #fff;
  padding: 10px;
  padding-left: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  box-shadow: 2px 2px 4px rgba(0,0,0,.2);
  position: relative;
  transition: .3s;
  border-left: 5px solid;
}
.EmoList .item.blue {
  border-left-color: #0091ff;
}
.EmoList .item.orange {
  border-left-color: #e74b00;
}
.EmoList .item.purple {
  border-left-color: #c052ff;
}
.EmoList .item.green {
  border-left-color: #009900;
}
.EmoList .item.pink {
  border-left-color: #ff00b7;
}
.EmoList .item.enter-anim {
  animation: emolist-item-anim-enter .4s linear;/*
  animation-delay: calc(.03s * var(--i));*/
}
@keyframes emolist-item-anim-enter {
  0% { transform: scale(0); }
  50% { transform: scale(1.05); }
  70% { transform: scale(.9); }
  100% { transform: scale(1); }
}
@keyframes emolist-item-anim {
  0% { transform: scale(1); }
  10% { transform: scale(1.05); }
  30% { transform: scale(1); }
  50% { transform: scale(1.05); }
  70% { transform: scale(1); }
  100% { transform: scale(1); }
}
.EmoList .item.anim {
  animation: emolist-item-anim 1.5s infinite linear;
}
.EmoList .item:active {
  transform: scale(.9);
  background-color: #eee;
}
/*
.EmoList .item .img {
  height: 100px;
  margin-bottom: 5px;
  background-color: #fff;
  background-image:  url(emo_glass_blue.png);
  background-repeat: no-repeat;
  background-size: 80px;
  background-position: center;
}*/
.EmoList .item h3 {
  margin: 0;
}

.EmoList .item .name {
  font-size: 1.35em;
}

.EmoList .item .price  {
  border-radius: 30px;
  padding: 5px 10px;
  color: white;
  margin-left: 10px;
  font-size: 1.25em;
  display: inline-block;
  background-color: #009900;
  flex-shrink: 0;
}
.EmoList .item:nth-child(5n+1) .price {
  background-color: #0091ff;
}
.EmoList .item:nth-child(5n+2) .price {
  background-color: #e74b00;
}
.EmoList .item:nth-child(5n+3) .price {
  background-color: #c052ff;
}
.EmoList .item:nth-child(5n+5) .price {
  background-color: #ff00b7;
}