.ProdList {
  padding: 5px;
  padding-top: 10px;
}
.ProdList .item {
  background-color: #fff;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  box-shadow: 2px 2px 4px rgba(0,0,0,.2);
  position: relative;
  transition: .3s;
  border-left: 5px solid;
}
.ProdList .item.blue {
  border-left-color: #0091ff;
}
.ProdList .item.orange {
  border-left-color: #e74b00;
}
.ProdList .item.purple {
  border-left-color: #c052ff;
}
.ProdList .item.green {
  border-left-color: #009900;
}
.ProdList .item.pink {
  border-left-color: #ff00b7;
}

.ProdList .item.enter-anim {
  animation: prodList-item-anim-enter .4s linear;/*
  animation-delay: calc(.03s * var(--i));*/
}
@keyframes prodList-item-anim-enter {
  0% { transform: scale(0); }
  50% { transform: scale(1.05); }
  70% { transform: scale(.9); }
  100% { transform: scale(1); }
}
@keyframes prodList-item-anim {
  0% { transform: scale(1); }
  10% { transform: scale(1.05); }
  30% { transform: scale(1); }
  50% { transform: scale(1.05); }
  70% { transform: scale(1); }
  100% { transform: scale(1); }
}
.ProdList .item.anim {
  animation: prodList-item-anim 1.5s infinite linear;
}
.ProdList .item:active {
  transform: scale(.9);
  background-color: #eee;
}
/*
.ProdList .item .img {
  height: 100px;
  margin-bottom: 5px;
  background-color: #fff;
  background-image:  url(emo_glass_blue.png);
  background-repeat: no-repeat;
  background-size: 80px;
  background-position: center;
}*/
.ProdList .item h3 {
  margin: 0;
}

.ProdList .item .name {
  font-size: 1.35em;
}

.ProdList .item .price  {
  border-radius: 30px;
  padding: 5px 10px;
  color: white;
  font-size: 1.25em;
  display: inline-block;
  flex-shrink: 0;
}
.ProdList .item .price.blue {
  background-image: linear-gradient(#00d8ff, #0081e4);
}
.ProdList .item .price.orange {
  background-image: linear-gradient(#e79300, #df1a00);
}
.ProdList .item .price.purple {
  background-image: linear-gradient(#7852ff, #e446ff);
}
.ProdList .item .price.green {
  background-image: linear-gradient(#00ce00, #007300);
}
.ProdList .item .price.pink {
  background-image: linear-gradient(#ca0097, #ff00b7);
}