.ProdDetails {
  padding: 10px;
  position: fixed;
  top: 0;
  background-color: rgba(0,0,0,.3);
  display: flex;
  align-items: center;
  min-height: 100vh;
}
.ProdDetails .cont {
  padding: 10px;
  background-color: #eee;
  text-align: center;
  box-shadow: 3px 3px 8px rgba(0,0,0,.2);
}
.ProdDetails .img {
  background-color: #ccc;
  height: 10px;
}
.ProdDetails .name {
  margin: 0;
  position: relative;
  margin-bottom: 10px;
  font-size: 25px;
  border-top: 5px solid;
  background-color: #fff;
  display: inline-block;
  padding: 5px 15px;
  box-shadow: 2px 2px 4px rgba(0,0,0,.2);
}
.ProdDetails .name.blue {
  border-top-color: #0082ec;
}
.ProdDetails .name.orange {
  border-top-color: #ff6e0d;
}
.ProdDetails .name.purple {
  border-top-color: #ad1dff;
}
.ProdDetails .name.green {
  border-top-color: #009900;
}
.ProdDetails .name.pink {
  border-top-color: #ff00b7;
}

.ProdDetails .content {
  text-align: left;
  background-color: #fff;
  padding: 10px;
  padding-bottom: 5px;
  box-shadow: 2px 2px 4px rgba(0,0,0,.2);
  margin-bottom: 10px;
}
.ProdDetails .content h2 {
  color: #fff;
  display: inline-block;
  border-radius: 30px;
  font-size: 20px;
  padding: 5px 10px;
  margin-top: 0;
  margin-bottom: 10px;
  box-shadow: none;
}
.ProdDetails .content h2.blue {
  background-color: #0082ec;
}
.ProdDetails .content h2.orange {
  background-color: #ff6e0d;
}
.ProdDetails .content h2.purple {
  background-color: #ad1dff;
}
.ProdDetails .content h2.green {
  background-color: #009900;
}
.ProdDetails .content h2.pink {
  background-color: #ff00b7;
}

.ProdDetails .content h3 {
  margin: 0;
  font-size: 20px;
  background-color: #fff;
  box-shadow: 2px 2px 4px rgba(0,0,0,.2);
  color: #000;
  display: inline-block;
  margin-right: 8px;
  margin-bottom: 8px;
  border-radius: 0 30px 30px 0;
  border-left: 5px solid;
  padding: 5px 10px;
  padding-left: 4px;
}
.ProdDetails .content h3.blue {
  border-left-color: #0082ec;
}
.ProdDetails .content h3.orange {
  border-left-color: #ff6e0d;
}
.ProdDetails .content h3.purple {
  border-left-color: #ad1dff;
}
.ProdDetails .content h3.green {
  border-left-color: #009900;
}
.ProdDetails .content h3.pink {
  border-left-color: #ff00b7;
}

.ProdDetails .content p {
  margin: 0;
  font-size: 20px;
  border-bottom: 4px solid;
  padding: 5px;
  margin-bottom: 5px;
  font-weight: bold;
  border-bottom-style: dotted;
}

.ProdDetails .content p.blue {
  border-bottom-color: #0082ec;
}
.ProdDetails .content p.orange {
  border-bottom-color: #ff6e0d;
}
.ProdDetails .content p.purple {
  border-bottom-color: #ad1dff;
}
.ProdDetails .content p.green {
  border-bottom-color: #009900;
}
.ProdDetails .content p.pink {
  border-bottom-color: #ff00b7;
}
.ProdDetails .content p:nth-last-child(1) {
  border: 0;
}

.ProdDetails .content.prop {
  margin-bottom: 5px;
}
.ProdDetails .content.prop h2{
  background-color: #0070ff;
}
.ProdDetails .content.prop h3{
  border: 0;
  margin: 0;
  display: block;
  padding-left: 0;
  padding-bottom: 1px;
  padding-top: 5px;
  border-bottom: 3px solid;
  border-radius: 0;
}
.ProdDetails .bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.ProdDetails .bottom h2 {
  border: 0;
  color: white;
  border-radius: 5px;
  margin: 0;
  box-shadow: none;
  font-size: 22px;
}
.ProdDetails .bottom .close {
  color: #ff0000;
  background-color: rgba(255,255,255,.8);
  padding: 5px 15px;
  border-radius: 30px;
  border: 3px solid;
}
.ProdDetails .bottom .price {
  padding: 5px 10px;
}
.ProdDetails .bottom .price.blue {
  background-color: #0082ec;
}
.ProdDetails .bottom .price.orange {
  background-color: #ff6e0d;
}
.ProdDetails .bottom .price.purple {
  background-color: #ad1dff;
}
.ProdDetails .bottom .price.green {
  background-color: #009900;
}
.ProdDetails .bottom .price.pink {
  background-color: #ff00b7;
}

@media (min-width:500px) {
  .ProdDetails  {
    top: 0; left: 4%;
    transform: none;
    max-height: 100%;
    overflow: hidden;
    overflow-y: scroll;
  }
}